body{
	margin: 0px;
	padding: 0px;
	font-family: 'Gotham narrow';
	font-size: 20px;
}

.bold{
	font-weight: bold;
}

.light{
	font-weight: lighter;
}

.contenido{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.nombre{
	font-size: 32;
	color: white;
}

.nombre1{
  transform: translate3d(38%, 0, 0);
  color: #a8241a;
  transition: all 1.5s linear 0.5s; 
}

.encabezado{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px 40px 0px 40px;
}

.personales{
	width: 33%;
	height: auto;
	padding: 10px;
	animation: 0.5 3s move linear;
}

@keyframes move {
	0% {
		transform: translate3d(0, 0px, 0);
	}
	50% {
		transform: translate3d(0, 5%, 0);
	}
	100% {
		transform: translate3d(0, 0px, 0);
	}
}

.imagen{
	width: 33%;
	height: auto;
	padding: 5px;
	border: 2px dashed #a8241a;
	border-radius: 100%;
}

img{
	width: 100%;
	height: 100%;
	border-radius: 100%;
	
}

.perfil{
	width: 33%;
	height: auto;
	text-align: right;
	padding: 10px;
	animation: 0.5 3s move linear;
}

@keyframes move {
	0% {
		transform: translate3d(0, 0px, 0);
	}
	50% {
		transform: translate3d(0, 5%, 0);
	}
	100% {
		transform: translate3d(0, 0px, 0);
	}
}

.cuerpo{
	display: flex;
	max-width: 1040px;
}

.cuerpo1{
  color: #a8241a;
  transition: all 1.5s linear 0.5s; 
	animation: 2s line linear;
}

@keyframes line {
	0% {
		transform: translate3d(-100%, 0, 0);
	}
	100% {
		transform: translate3d(38%, 0, 0);
	}
}

.izquierda{
	width: 50%;
	border-right: 1px dashed #a8241a;
	margin-bottom: 40px;
}

h2{
	color: #a8241a
}

.cuadro{
 margin: 10px;
 background-color: #E87B73;
 border-radius: 10px;
 padding: 20px;
}

.derecha{
	width: 50%;
	border-left: 1px dashed #a8241a;
	text-align: right;
	margin-bottom: 40px;
}


